/**
 * Asana
 */

// sat: saturated
// desat: desaturated

$blue-desat-dark: rgb(21, 41, 81);
$blue-desat-light: rgb(182, 195, 219);
$blue-sat-dark: rgb(60, 104, 187);
$blue-sat-light: rgb(219, 225, 235);
$brown-desat-dark: rgb(76, 53, 53); // yellow
$brown-desat-light: rgb(255, 237, 164); // yellow
$brown-sat-dark: rgb(144, 100, 97);
$brown-sat-light: rgb(254, 245, 215);
$cyan-desat-dark: rgb(9, 55, 58);
$cyan-desat-light: rgb(170, 209, 235);
$cyan-sat-dark: rgb(0, 142, 170);
$cyan-sat-light: rgb(235, 243, 247);
$gray-desat-dark: rgb(26, 27, 6);
$gray-desat-light: rgb(206, 197, 198);
$gray-sat-dark: rgb(73, 60, 61);
$gray-sat-light: rgb(231, 232, 230);
$green-desat-dark: rgb(36, 66, 40);
$green-desat-light: rgb(201, 219, 156);
$green-sat-dark: rgb(66, 126, 83);
$green-sat-light: rgb(222, 229, 198);
$magenta-desat-dark: rgb(109, 34, 93);
$magenta-desat-light: rgb(244, 182, 219);
$magenta-sat-dark: rgb(177, 63, 148);
$magenta-sat-light: rgb(246, 231, 239);
$orange-desat-dark: rgb(127, 61, 6);
$orange-desat-light: rgb(250, 205, 170);
$orange-sat-dark: rgb(225, 112, 0);
$orange-sat-light: rgb(247, 230, 216);
$red-desat-dark: rgb(84, 21, 21);
$red-desat-light: rgb(239, 189, 189);
$red-sat-dark: rgb(199, 63, 39);
$red-sat-light: rgb(240, 222, 222);
$violet-desat-dark: rgb(42, 20, 86);
$violet-desat-light: rgb(218, 202, 224);
$violet-sat-dark: rgb(103, 67, 179);
$violet-sat-light: rgb(230, 223, 235);
