/**
 * Byword
 * http://bywordapp.com/
 */

$byword-dark-bg:          #1A1A1A;
$byword-dark-comment:     #686868;
$byword-dark-fg:          #BEBEBE;
$byword-light-bg:         #F2F2F2;
$byword-light-comment:    #B8B8B8;
$byword-light-fg:         #3C3C3C;
$byword-light-selection:  #B5D5FE;
