/**
 * Editorial
 * http://omz-software.com/editorial/
 */

$editorial-dark-bg:         #262b30;
$editorial-dark-fg:         #ccc;
$editorial-light-add-bg:    #e0edd5;
$editorial-light-bg:        #f7f7f7;
$editorial-light-delete-bg: #ffb5af;
$editorial-light-fg:        #333;
$editorial-light-find:      #f5e52b;
$editorial-light-selection: #c5d7e6;
