/**
 * Writer Pro
 * http://writer.pro/
 */

$caret-blue:        #2DAEE1;
$caret-cyan:        #23C897;
$caret-magenta:     #E41E91;
$selection-cyan:    #C3E9DB;
$selection-magenta: #EEC0D6;
$writerpro-bg:      #F9F7F2;
