// @name "Writerly - BetterBase";
// @author "Alex Armstrong (@alehandrof)";

/* !Colors */

$dark0:   mix($fg, $bg, (1-(5/60*1))*100%);  // #444
$dark1:   mix($fg, $bg, (1-(5/60*2))*100%);  // #555
$dark2:   mix($fg, $bg, (1-(5/60*3))*100%);  // #666
$dark3:   mix($fg, $bg, (1-(5/60*4))*100%);  // #777
$dark4:   mix($fg, $bg, (1-(5/60*5))*100%);  // #888
$medium:  mix($fg, $bg, (1-(5/60*6))*100%);  // #999
$light4:  mix($fg, $bg, (1-(5/60*7))*100%);  // #aaa
$light3:  mix($fg, $bg, (1-(5/60*8))*100%);  // #bbb
$light2:  mix($fg, $bg, (1-(5/60*9))*100%);  // #ccc
$light1:  mix($fg, $bg, (1-(5/60*10))*100%); // #ddd
$light0:  mix($fg, $bg, (1-(5/60*11))*100%); // #eee

$error:       adjust-hue($caret, 130deg);
$gutter:      hsla(0,0,0, 0.0275); //desaturate(darken($bg, 3), 3); // "#eeeeee"
$selection:   transparentize($caret, .85);  // '#00aeff22';


/* Base */

@import "mixins";
@import "settings";
@import "core_selectors";


/* Syntaxes */

@import "diff";
@import "find_in_files";
@import "markdown";
@import "python";


/* Plugins */

@import "brackethighlighter";
@import "gitgutter";
@import "quickcal";
@import "rawlineedit";
@import "sublimegit";
@import "sublimelinter";


/* Et cetera */

@import "prototyping";
@import "experiments";
