/**
 * Core Selectors
 */

comment {
	foreground: $comment;
	keyword {
		foreground: mix($comment, $keyword, 75%);
	}
}

constant {
	&.character,
	&.language,
	&.numeric,
	&.other {
		foreground: $constant;
	}
}

entity {
	&.name.tag {
		foreground: $tag;
	}
	&.name.class,
	&.name.function,
	&.other.attribute-name,
	&.other.inherited-class {
		foreground: $entity;
	}

	&.name.class,
	&.other.inherited-class {
		@include style(italic);
	}
}

invalid {
	@include bg($danger);

	&.deprecated {
		@include bg($warning);
	}
}

keyword {
	foreground: $keyword;

	&.operator {
		foreground: $info;
	}
}

markup {
	&.separator,
	&.strikethrough,
	&.comment {
		foreground: $medium;
	}

	&.raw.inline {
		foreground: $keyword;
		punctuation {
			@include punctuation($keyword);
		}
	}

	&.raw,
	&.quote {
		foreground: $dark2;
	}

	&.underline.link {
		foreground: $medium;
		&.reference {
			foreground: $link-alt;
		}
	}

	&.italic,
	&.quote {
		@include style(italic);
	}

	&.heading {
		@include style(bold);
		// @include bg($danger);
		background: $light1;
	}

	&.bold,
	&.quote markup.italic markup.bold,
	&.quote markup.bold markup.italic {
		@include style(bold);
	}

	&.bold markup.italic,
	&.italic markup.bold,
	&.quote markup.bold,
	&.heading markup.italic {
		@include style(bold italic);
	}

	&.quote markup.italic {
		@include style(none);
	}
}

storage {
	foreground: $storage;
	&.type {
		@include style(italic);
		foreground: $support;
	}
}

string  {
	foreground: $string;
	punctuation {
		@include punctuation($string);
	}

	&.addition {
		foreground: $success;
	}
}

support {
	&.class,
	&.constant,
	&.function,
	&.type {
		// foreground: $storage;
		@include style(italic);
	}

	// &.class,
	// &.type {
		// @include style(italic);
	// }
}

variable {
	&.declaration, /* LESS */
	&.other,
	&.parameter {
		foreground: $variable;
	}

	&.parameter {
		@include style(italic);
	}
}
