/**
 * Core Selectors
 */

comment {
	foreground: $comment;
}

constant {
	&.character,
	&.language,
	&.numeric,
	&.other {
		foreground: $constant;
	}
}

entity {
	&.name.tag {
		foreground: $tag;
	}
	&.name.class,
	&.name.function,
	&.other.attribute-name,
	&.other.inherited-class {
		foreground: $green;
	}

	&.name.class,
	&.other.inherited-class {
		@include style(italic);
	}
}

invalid {
	@include bg($red);

	&.deprecated {
		@include bg($magenta);
	}
}

keyword {
	foreground: $magenta;

	&.operator {
		foreground: $info;
	}
}

markup {
	&.separator,
	&.strikethrough,
	&.comment {
		foreground: $medium;
	}

	&.raw {
		background: $light0;
	}

	&.raw,
	&.quote {
		foreground: $dark2;
	}

	&.underline.link {
		foreground: $blue;
		&.reference {
			foreground: $violet;
		}
	}

	&.italic,
	&.quote {
		@include style(italic);
	}

	&.heading,
	&.bold,
	&.quote markup.italic markup.bold,
	&.quote markup.bold markup.italic {
		@include style(bold);
	}

	&.bold markup.italic,
	&.italic markup.bold,
	&.quote markup.bold,
	&.heading markup.italic {
		@include style(bold italic);
	}

	&.quote markup.italic {
		@include style(none);
	}
}

storage {
	foreground: $magenta;
	&.type {
		@include style(italic);
		foreground: $blue;
	}
}

string  {
	foreground: $yellow;
	punctuation {
		@include punctuation($yellow);
	}

	&.addition {
		foreground: $green;
	}
}

support {
	&.class,
	&.constant,
	&.function,
	&.type {
		foreground: $blue;
	}

	&.class,
	&.type {
		@include style(italic);
	}
}

variable {
	&.declaration, /* LESS */
	&.other,
	&.parameter {
		foreground: $orange;
	}

	&.parameter {
		@include style(italic);
	}
}
