/**
 * Syntax: Diff
 */

meta.diff {
    &.header {
        @include style(bold);
        background: $gutter;
        &.from-file {
            // foreground: $danger;
        }
        &.to-file {
            // foreground: $success;
        }
    }
    markup {
        &.deleted {
            foreground: $fg;
            @include bg($danger, 1);
        }
        &.inserted {
            foreground: $fg;
            @include bg($success, 1);
        }
    }
}