/**
 * Plugin: GitGutter
 * Also helps out with: Syntax: Markdown (Typewriter) & Critic Markup
 */

markup {
    &.changed {
        foreground: $warning;
        // $violet (gitgutter)
    }
    &.deleted {
        foreground: $danger;
        // $magenta (gitgutter)
    }
    &.ignored, &.untracked {
        foreground: $dark2;
    }
    &.inserted {
        // @include style(italic);
        foreground: $success;
    }
    &.highlight {
        foreground: $link-alt;
    }
}
