/**
 * Plugin: GitGutter
 * Also helps out with: Syntax: Markdown (Typewriter) & Critic Markup
 */

markup {
    &.changed {
        foreground: $warning;
    }
    &.deleted {
        foreground: $danger;
    }
    &.ignored, &.untracked {
        foreground: $dark2;
    }
    &.inserted {
        foreground: $success;
    }
    &.highlight {
        foreground: $link-alt;
    }
}
