/**
 * Settings
 */

* {
	caret:            $caret;
	background:       $bg;
	foreground:       $fg;
	gutter:           $gutter;
	gutterForeground: $medium;
	lineHighlight:    $gutter;

	/* Guides */
	guide:       $light1;
	activeGuide: $medium;
	stackGuide:  $light1;

	/* Selection */

	selection:          $selection;
	selectionBorder:    opacify($selection, .38);
	inactiveSelection:  desaturate($selection, 100);

	/* Find */
	findHighlight:           transparentize(lighten($yellow, 38%), 0.24); // ~ '#ffc71977';
	findHighlightForeground: darken($yellow, 15%); // ~ #684f00;

	/* Brackets & Tags */
	// See also: https://www.sublimetext.com/forum/viewtopic.php?f=2&t=3007#p14196
	bracketContentsForeground: $caret;
	bracketContentsOptions:    underline;
	bracketsForeground:        $caret;
	bracketsOptions:           underline;
	tagsForeground:            $caret;
	tagsOptions:               underline;

	/* Shadow */
	shadow:      $medium;
	shadowWidth: "4";

	/* Invisibles */
	// Not valid in ST2/3. Value is an approximation of what ST would use.
	invisibles: transparentize($fg, .745);
}
