/**
 * SublimeGit
 */

string.other.git-status.remote {
	&.name  {
		foreground: $link-alt;
	}
	&.url  {
		foreground: $link;
	}
}

constant.other.git-status.header,
meta.git-status.file {
	foreground: $fg;
}

meta.git-status.unstaged_changes {
	foreground: $warning;
}

meta.git-status.staged_changes {
	foreground: $success;
}