/**
 * Plugin: SublimeLinter
 */

sublimelinter.mark.warning {
	@name "SublimeLinter Warning";
	foreground: $yellow; // was: #DDB700;
}

sublimelinter.mark.error {
	@name "SublimeLinter Error";
	foreground: $red; // was: #D02000
}

sublimelinter.gutter-mark {
	@name "SublimeLinter Gutter Mark";
	foreground: $dark2; // was: #FFFFFF
}
